<!DOCTYPE html>
<html ng-app="app">
<head>
  <%= render :partial => 'shared/head' %>
</head>
<body>
  <%= render 'shared/header_proto' -%>
  <%= render :partial => 'shared/flash_message' -%>      
  <%= yield %>
  <%= render :partial => 'shared/footer' -%>
</body>
</html>
